doc/javadoc
build/intermediates
.gradle/2.2.1/taskArtifacts
app/build/intermediates
app/build
.gradle/2.8
workspace.xml
app.iml
local.properties
app/src/main/jniLibs
.gradle
build/generated
.idea
build/android-profile
